<nav class="navbar">
    <div class="logo">
      <img src="../../favicon.ico" alt="logo" />
      <h1 >User Authentication</h1>
    </div>
    <ul class="nav-links">
      <li>
        <a mat-button routerLink="/" class="nav-link">Home</a>
      </li>
      <li>
        <a mat-button routerLink="/register" class="nav-link">Register</a>
      </li>
      <li>
        <a mat-button routerLink="/login" class="nav-link">Login</a>
      </li>
      <li>
        <a mat-button (click)="logout()" class="nav-link">Logout</a>
      </li>
      <li>
        <a mat-button routerLink="/cart"  class="nav-link">  <svg class="mr-2 h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="2" aria-hidden="true">
          <path strokeLinecap="round" strokeLinejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg></a>
      </li>

    </ul>
  </nav>
  